.multi {
  /* background-color: rgb(152, 149, 149); */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15vh;
  /* position: relative; */
}

.multi button {
  width: 10vw;
  align-self: center;
}

.modalOn {
  background-color: rgb(152, 149, 149);
}

.modalOn button {
  width: 10vw;
  align-self: center;
}


/* ---------------------------------------------------------------------------------- */

.lobby {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.lobby h2 a:hover {
  color: rgb(82, 82, 204);
}
.back{
  justify-content:center;
  align-self: center;
  justify-self: center;
}