.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url("/images/stars.svg");
  background-color: #8a8a8a;
  background-size: cover;
}



