.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10em;
  margin-left: 6vw;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5;
  height: 100vh;

  /* width: 100vw; */
}

.login {
  padding: 40px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 10px #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  background-color: #afb2b781;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  font-size: large;
  border: 3px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card input {
  width: 15em;
  height: 2em;
  margin-left: 2em;
}

.btns {
  /* margin-top: 0vh; */
  margin-left: 9vw;
}


.title {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width : 1201px) {
  /* Add Your CSS Styling Here */
}


/* ------------------------------------------------------------------------------------ */
/* 버튼들 */
.btnGroup {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vh;
}

.signBtnGroup {
  display: flex;
  flex-direction: column;
}

.loginBtn {
  background: #6ad399;
  font-size: 25px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px rgb(62, 116, 86);
  display: inline-block;
  transition: all .1s;
  position: relative;
  padding: 18px 30px;
  top: 0;
  position: relative;
  cursor: pointer;
}

.loginBtn:active {
  top: 3px;
  box-shadow: 0 2px 0px rgb(62, 116, 86);
  transition: all .1s;
}

.signupBtn {
  background: #5EA5DD;
  font-size: 20px;
  color: white;
  border-radius: 6px;
  box-shadow: 0 6px 0px #3672a0;
  display: inline-block;
  transition: all .1s;
  position: relative;
  top: 23px;
  cursor: pointer;
  margin: 0 3vw;
  left: 3vw;

  font-size: medium;
  padding: 5px 20px;
  margin-top: -1vh;
}

.signupBtn:active {
  top: 26px;
  box-shadow: 0 2px 0px #3672a0;
  transition: all .1s;
}