.container {
  width: 1028px;
  margin: 8px 0px;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}

.head {
  margin-left: 28px;
  
}

.title {
  display: inline;
  font: 3em "Georgia";
  
}

.time {
  display: inline;
  float:right;
}

.indent {
  margin: 0px 28px
}

.resultText {
  text-align: right;
}
