.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5;
  height: 100vh;
}

.semiContainer {
  padding: 40px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 10px #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #afb2b781;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  font-size: large;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card input {
    width: 15em;
    height: 2em;
    margin-left: 2em;
}

#idInput:active {
  border: 4px solid #d0afd4;
}

#pwInput:focus {
  border: 4px solid #d0afd4;
}

#pwConfInput:focus {
  border: 4px solid #d0afd4;
}

.fonts {
  display: flex;
  font-family: 'Koulen', cursive;
  font-size: 35px;
  justify-content: center;
}

.smallfonts {
  font-family: 'Koulen', cursive;
  font-size: 25px;
}


/* ----------------------------------------------------------------------------------------------- */
/* buttons */
.btnGroup {
  display: flex;
  flex-direction: column;
}

.backBtn {
  background: #8d6e63;
  font-size: 10px;
  color: white;
  border-radius: 6px;
  box-shadow: 0 6px 0px #6d4c41; 
  display: inline-block;
  transition: all .1s;
  position: relative;
  top: 1.4vh;
  cursor: pointer;
  margin:1vh 3vw;
  margin-bottom: .5vh;

  font-size: medium;
  padding: 5px 20px;
  margin-top: -1vh;
}
.backBtn:active {
  top: 1.6vh;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all .1s;
}

.signupBtn {
  background: #5EA5DD;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #3672a0;
  display: inline-block;
  transition: all .1s;
  position: relative;
  padding: 10px 25px;
  margin:1.5vh 1vw;
  margin-top: 2vh;
  top: 0px;
  
  position: relative;
  cursor: pointer;
}
.signupBtn:active {
  top: 0.2vh;
  box-shadow: 0 2px 0px #3672a0;
  transition: all .1s;
}

.checkBtn {
  background: #6ad399;
  font-size: 10px;
  color: white;
  border-radius: 6px;
  box-shadow: 0 6px 0px rgb(62, 116, 86); 
  display: inline-block;
  transition: all .1s;
  position: relative;
  top: 1.4vh;
  cursor: pointer;

  margin-bottom: 2vh;
  margin-left: .7vw;

  font-size: medium;
  padding: 5px 20px;
  margin-top: -1vh;
}
.checkBtn:active {
  top: 1.6vh;
  box-shadow: 0 2px 0px rgb(62, 116, 86);
  transition: all .1s;
}