.container {
  width: 36vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: goldenrod;
  border: 8px solid #eaeaea;
  border-radius: 40px;
}
.container h2 {
  margin: 1.5em 0;
}
.container2 {
  overflow: hidden;
  font-size: large;
  border: 3px solid #eaeaea;
  border-radius: 10px;
  padding: 2em;
  max-width: fit-content;
  height: fit-content;
}

.choice {
  display: flex;
  width:500px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  /* border: 2px solid #eaeaea; */
  border-radius:10px;
  height: 80px;
  /* gap: 10vw; */
}

.buttons {
  display:flex;
  justify-content:center;
  /* position:absolute; */
  /* left:28em; */
  /* transform: translateX(-50%); */
  
}
.roomname {
  display:flex;
  justify-content:center;
  position:absolute;
  left:55%;
}

.button {
  margin: 0.7em;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10em;
  margin: 1.5em 0;
}
.links button {
  cursor: pointer;
}