.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 3vh; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: goldenrod;
  border-radius: 30px;
  width: 29vw;
  height: fit-content;
  border: 8px solid #eaeaea;
}
.modal h2 {
  text-align: center;
  margin: 1.5em 0;
}

.card {
  padding: 2em;
  padding-left: 4em;
  width: 30em;
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  font-size: large;
  border: 3px solid #eaeaea;
  border-radius: 10px;
}
.card span {
  display: flex;
  align-items: center;
}
.card div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 3em;
}
.card label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  width: 5vw;
  align-items: center;
}
.card input {
    width: 2em;
    height: 2em;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em 0;
}
/* ------------------------------------ responsive design ↓ --------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}